<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <title>简历</title>
</head>
<nav class="navbar navbar-default " role="navigation">


  <div class="container">
      <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <p class="navbar-text">Resume Shop</p>
  </div>
</nav>

<dic class="container">
    <dic class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form role="form">
                <div class="form-group col-md-10">
                     <label class="sr-only" for="zhiwei">input  jobs</label>
                    <input type="text" class="form-control" id="zhiwei" placeholder="input job">
                    <!--<label for="zhiwei">zhi wei</label>-->
                    <!--<input type="text" class="form-control" placeholder="input job" id="zhiwei">-->

                </div>

                <button type="submit" class="btn btn-primary col-md-2">Search</button>

            </form>

        </div>
        <div class="col-md-2"></div>
    </dic>
</dic>



</div>



</body>
</html>