<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>

  <div class="container">
      <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
      <div class="row">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">Bootstrap</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <div class="col-xs-6 col-md-5">
      <ul class="nav navbar-nav">
        <li>
          <a href="../getting-started/">起步</a>
        </li>
        <li class="active">
          <a href="../css/">全局 CSS 样式</a>
        </li>
        <li>
          <a href="../components/">组件</a>
        </li>
        <li>
          <a href="../javascript/">JavaScript 插件</a>
        </li>
        <li>
          <a href="../customize/">定制</a>
        </li>
      </ul></div>
        <div class="col-xs-6 col-md-5">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://job.bootcss.com" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'doc-home-navbar-job'])" target="_blank">高薪工作</a></li>
        <li><a href="http://expo.bootcss.com" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'doc-home-navbar-expo'])" target="_blank">优站精选</a></li>
        <li><a href="http://blog.getbootstrap.com" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'doc-home-navbar-blog'])" target="_blank">官方博客</a></li>
      </ul>

    </nav>
          </div>
           </header>
          </div>


</header>
asdfasdfasdfas

</body>
</html>